$mainColor: #4056A1;
$backgroundImage: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
$fontStack: 'Source Sans Pro', sans-serif;

@mixin vertAlign {
  display: flex;
  justify-content: center;
  align-items: center;

}

header.main-header {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  background-color: $mainColor;
  background-image: $backgroundImage;
  @include vertAlign;
 
}

.avatar {
  flex-direction: column; 
  align-content: center;
  font-family: $fontStack;
  font-weight: 600;
  @include vertAlign;
}

.image {
  margin-bottom: -25px;
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.last {
  font-family: $fontStack;
  font-weight: 300;
  margin-left: 5px;
  color: black;
}


/* hide tagline */
.direction {
  display: none;
}

/* tablet styles */
@media only screen and (min-width: 830px) {
  main {
    width: 66.7%;
    float: right;
    margin-top: 200px;
    margin-left: 1vw;
    margin-right: 3vw;
  }
 
  header.main-header {
    width: 33.3%;
    float: left;
    display: flex;
    margin-top: 200px;
    margin-left: 3vw;
    margin-right: 1vw;
  }
  body {
    display: flex;
    flex-wrap: nowrap;
  }
  .direction {
    display: flex;
  }

}

/* desktop styles */
@media only screen and (min-width: 1024px) {
 header.main-header {
 margin-left: 5vw;
 margin-right: 3vw;
}

main {
  margin-left: 3vw;
}
}