$mainColor: #4056A1;

article.tweetBox {
  background-color: #edecee;
  margin-top: 2em;
  border: solid black;
  padding: 1em;

}

article.tweetBox:hover {
  box-shadow: 3px 3px 5px 6px #ccc; 
}

.contentBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.contentBox > div {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;
}

.midSection {
  border-bottom: solid black;
  margin-bottom: -20px;
}

footer.iconSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  padding-left: 5px;
}

.handle {
  color: $mainColor; 
  font-weight:600;
}

.fas, .fab {
  color: $mainColor;
  padding: 3px;
}

.fab:hover, .fas:hover {
  color: #9af9e2;
}
