header.main-header {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  
}

.avatar {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.image {
  margin-bottom: -25px;
}

/* hide tagline */
.direction {
  display: none;
}

/* tablet styles */
@media only screen and (min-width: 830px) {
  main {
    width: 66.7%;
    float: right;
    margin-top: 200px;
    margin-left: 1vw;
    margin-right: 3vw;
  }
 
  header.main-header {
    width: 33.3%;
    float: left;
    display: flex;
    margin-top: 200px;
    margin-left: 3vw;
    margin-right: 1vw;
  }
  body {
    display: flex;
    flex-wrap: nowrap;
  }
  .direction {
    display: flex;
  }

}

/* desktop styles */
@media only screen and (min-width: 1024px) {
 header.main-header {
 margin-left: 5vw;
 margin-right: 3vw;
}

main {
  margin-left: 3vw;
}
/* body {
  display: flex;
  flex-wrap: nowrap;
} */
}