.new-tweet {
  font-family: "Source Sans Pro", sans-serif;
}

#tweet-text {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  border: none;
  width: 100%;
  height: 1.5em;
}

::placeholder {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

/* button and counter */
.underLine {
  font-family: "Bungee";
  display: flex;
  justify-content: space-between;
}

/* what are you humming about + entry field */
.form-entry {
  border-bottom: solid black;
  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.tweetButton {
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: white;
  margin-top: 10px;
}

.tweetButton:hover {
  box-shadow: 6px 6px 5px #ccc;
}

.empty-tweet-alert, .tweet-too-long {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  border: solid red;
  padding: 5px;
}
