
.new-tweet {
  font-family: "Source Sans Pro', sans-serif";

}

#tweet-text {
  font-family: "Source Sans Pro', sans-serif";

}

.underLine {
  font-family: 'Bungee';
  
}

.tweetButton {
  font-family: 'Bungee';

}
.counter {
  font-family: 'Bungee';
  
}